@import 'scss/variables/colors';
@import 'scss/mixins';

%favorite-fill {
  color: $amaranth;
  stroke: $amaranth;
}

.container {
  align-items: center;
  background-color: $mine-shaft;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 10px;
  position: relative;
  width: 210px;

  @include max-screen(sm) {
    width: 240px;
  }

  &:hover {
    background-color: rgba($alto, 0.4);

    & .picture {
      transform: scale(1.05);
      transition: transform 0.4s;
    }
  }

  .picture {
    border-radius: 8px;
    height: 130px;
    margin-bottom: 15px;
    object-fit: contain;
    pointer-events: none;
    width: 130px;
  }

  .instructor {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
  }

  .title {
    color: white;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 10px;
    text-align: center;
  }

  .favorite {
    align-items: center;
    border: none;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 30px;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;

    .favorite-icon {
      color: transparent;
      height: 16px;
      width: 16px;
      stroke: white;
      stroke-width: 2px;

      &.is-favorite {
        @extend %favorite-fill;
        &:hover {
          color: transparent;
          stroke: white;
        }
      }

      &:hover {
        @extend %favorite-fill;
      }
    }
  }
}
